body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Great Vibes', cursive;
    background-color: #f0f0f0;
}

h1 {
    font-size: 3rem;
    text-align: center;
}
